/* Sidebar Cerrada e item Activo */
.container_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.normal[aria-current] {
  position: relative;
  width: 40px;
  height: 40px;
  background: #fa3d22;
  display: flex;
  align-items: center;
  border: 1px solid white;
  justify-content: center;
  transition-duration: 0.3s;
  border-radius: 15px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    display: none !important;
  }
}

/* Sidebar Cerrada e item Desactivado */
.normal {
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    display: none !important;
  }

}

/* Sidebar Abierta e item Desactivado */
.linkOpen {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition-duration: 0.3s;

  p {
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 2px;
    margin: 0 !important;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Sidebar Abierta e item Activado */
.linkOpen[aria-current] {
  position: relative;
  height: 40px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition-duration: 0.3s;
  background: #fa3d22;
  border: 1px solid white;
  border-radius: 20px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 2px;
    margin: 0 !important;
  }

  p::after {
    display: none;
  }
}