.titles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0 20px;
  background: #231f1f !important;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
}
