.background {
  background-image: url('../../../assets/images/background_login.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  background: #333237 !important;
  border: 1px solid white !important;
}

.card-title {
  color: white !important;
  margin-bottom: 0 !important;
  padding: 0 20px;
}

.text-muted,
.text-white {
  color: white !important;
}

.btn-primary {
  background: #fa3d22 !important;
  border: none !important;
}

.btn-primary:hover {
  background: #f6553f !important;
  border: none !important;
}

.container-title {
  background-color: #fa3d22;
  border-radius: 30px;
  border: 1px solid white !important;
}

.imgIcon {
  width: 30px;
}

.loading {
  display: none;
}

.register_btn {
  cursor: pointer;
  color: #fa3d22;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.form_r {
  flex-direction: row;
}

.ant-form-item-row {
  display: block !important;
}

@media (max-width: 768px) {
  .form_r {
    flex-direction: column !important;
  }

  .col_r {
    margin: 0 !important;
    max-width: 100%;
  }
}